# HomeAssistant
# -------------------------

# Storage and DBs
.storage
.cloud
.HA_VERSION
*.db
*.db-shm
*.db-wal
*.sqlite
*.xml

# Logs
*.log
OZW_Log.txt

# Custom Components
custom_components
www/community


# Secrets
.wink.conf
bravia.conf
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_service_accounts.json