# LetsEncrypt
# -------------------------
/*

!.gitignore
!nginx
nginx/*

!nginx/proxy-confs
nginx/proxy-confs/*
!nginx/proxy-confs/homeassistant.subdomain.conf
!nginx/proxy-confs/camera1.subdomain.conf
!nginx/proxy-confs/camera2.subdomain.conf


!nginx/site-confs
nginx/site-confs/*
!nginx/site-confs/default.conf
